  .search-input {
    border: none;
    outline: none;
    font-family: "Fira Sans", sans-serif;
  }
  @font-face{
    font-family: AaFuWaTi;
    font-family: Kh Muol;
     src:url(AaFuWaTi-2.ttf);
     src:url(Kh-Muol.ttf);
  }
  .font1{
    font-family: AaFuWaTi;
    font-size: 50px;
    color: #ffffff;
  }

  .font2{
    font-family: Kh Muol;
    font-size: 20px;
    color: #ffffff;
  }

  .font3{
    font-family: Kh Muol;
    font-size: 30px;
    color: #000000;
  } 

  .body1{
    background-color: rgb(0, 0, 0); 
  }

  .body2{
    position: absolute;
    top: 20px;
    background-color: rgb(255, 255, 255); 
  }

  .titel1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1260px;
    height: 110px;
    /* border: 2px solid #000000; */
    /* background-color: rgb(0, 0, 0);     */
  }
  .IP1{
    position: absolute;
    top: 0px;
    left: 0;
    width: 1261px;
    height: 100%;
    /* border: 2px solid #000000; */
    /* background-color: rgb(250, 1, 1); */
  }
  .IP3{
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    height: 120px;
    /* border: 2px solid #000000; */
    background-color: rgb(251, 255, 9);
  }
  .IP4{
    position: absolute;
    top: 220px;
    left: 0px;
    width: 1263px;
    height: 405px;
    border: 2px solid #000000;
    /* background-color: rgb(255, 255, 255); */
  }

  .IP5{
    position: absolute;
    top: -15px;
    left: 0px;
    width: 800px; 
    height: 405px;
    /* border: 2px solid #000000; */
    /* background-color: rgb(255, 255, 255); */
  }

  .IP6{
    top: 0px;
    left: 0px;
    width: 30px; 
    height: 100px;
    /* border: 2px solid #000000; */
    /* background-color: rgb(228, 31, 31); */
  }

  .IP7{
    position: absolute;
    top: 220px;
    left: 0px;
    width: 1263px;
    height:850px;
    /* border: 2px solid #000000; */
    background-color: rgb(255, 255, 255);
  }

  .IP8{
    position: absolute;
    top: 62px;
    left: 1205px;
    width: 40px;
    height:30px;
    /* border: 2px solid #000000; */
    /* background-color: rgb(221, 18, 18); */
  }

  .IP9{
    position: absolute;
    top: 220px;
    left: 0px;
    width: 1263px;
    height: 405px;
    border: 2px solid #ffffff;
    background-color: rgb(255, 255, 255);
  }

  .IP10{
    position: absolute;
    top: 20px;
    left: 500px;
    width: 210px; 
    height: 50px;
    /* border: 2px solid #000000; */
    /* background-color: rgb(255, 255, 255); */
  }

  .IP11{
    position: absolute;
    top: 20px;
    left: 500px;
    width: 210px; 
    height: 50px;
    /* border: 2px solid #000000; */
    background-color: rgb(255, 255, 255);
  }

  .IP12{
    position: absolute;
    top: 162px;
    left: 1160px;
    width: 800px; 
    height: 405px;
    /* border: 2px solid #000000; */
    /* background-color: rgb(255, 255, 255); */
  }


  .button1 {
    background-color: #aa0404;
    border: none;
    color: white;
    padding: 15px 51px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button2 {
    background-color: #aa0404;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button3 {
    background-color: #aa0404;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button4 {
    background-color: #aa0404;
    border: none;
    border: none;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button5 {
    background-color: #aa0404;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button6 {
    background-color: #aa0404;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button7 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  /* Add_Name.css */
  .add1{
    position: absolute;
    top: 107px;
    left: 0px;
    width: 1259px;
    height: 583px;
    border: 2px solid #000000;
    /* background-color: rgb(255, 255, 255); */
  }

  .add2{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 1259px;
    height: 600px;
    /* border: 2px solid #000000;
    background-color: rgb(255, 255, 255); */
  }

  .add3{
    position: absolute;
    top: 130px;
    left: 0px;
    width: 1259px;
    height: 583px;
    /* border: 2px solid #000000; */
    /* background-color: rgb(255, 255, 255); */
  }

  .ddd1{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 1259px;
    height: 600px;
    border: 2px solid #ffffff;
    background-color: rgb(255, 255, 255);
  }

  .table1{
    background-color: rgb(255, 255, 255);
  }
  .color1{
    background-color: rgb(255, 255, 255);
  }

  div.scroll2 {
    background-color: rgb(255, 255, 255);
    /* top: 10010px; */
    height: 400px;
    width: 1250x;
    overflow-y: scroll;
  }

  div.Ka1 {
    background-color: rgb(253, 253, 253);
    height: 400px;
    width: 450px;
    overflow-y: scroll;
  }