.search-input {
  border: none;
  outline: none;
  font-family: "Fira Sans", sans-serif;
}
@font-face{
  font-family: AaFuWaTi;
  font-family: Kh Muol;
   src:url(AaFuWaTi-2.ttf);
   src:url(Kh-Muol.ttf);
}
.font1{
  font-family: AaFuWaTi;
  font-size: 50px;
  color: #ffffff;
}

.font2{
  font-family: Kh Muol;
  font-size: 20px;
  color: #ffffff;
}
.body1{
  background-color: rgb(255, 255, 255); 
}
.titel1{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1260px;
  height: 110px;
  /* border: 2px solid #000000; */
  background-color: rgb(0, 0, 0);    
}
.IP1{
  position: absolute;
  top: 0px;
  left: 0;
  width: 1261px;
  height: 100%;
  /* border: 2px solid #000000; */
  /* background-color: rgb(250, 1, 1); */
}
.IP3{
  position: absolute;
  top: 105px;
  left: 0;
  width: 100%;
  height: 63px;
  /* border: 2px solid #000000; */
  background-color: rgb(251, 255, 9);
}
.IP4{
  position: absolute;
  top: 170px;
  left: 0px;
  width: 1263px;
  height: 100%;
  border: 2px solid #000000;
  background-color: rgb(255, 255, 255);
}
.button1 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 51px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  background-color: #aa0404;
  border: none;
  border: none;
  color: white;
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button6 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* Add_Name.css */
.add1{
  position: absolute;
  top: 107px;
  left: 0px;
  width: 1259px;
  height: 583px;
  border: 2px solid #000000;
  /* background-color: rgb(255, 255, 255); */
}
.table1{
  background-color: rgb(255, 255, 255);
}

div.scroll {
  background-color: rgb(255, 255, 255);
  height: 580px;
  width: 1250px;
  overflow-y: scroll;
}

p{
 font-size: 25px;
}

.p1{
  font-size: 50px;
 }

.div1{
  position: absolute;
  top: 50px;
  left: 20px;
  width: 290px;
  height: 150px;
  /* border: 2px solid #000000; */
  background-color: rgb(248, 190, 1);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div2{
  position: absolute;
  top: 50px;
  left: 330px;
  width: 290px;
  height: 150px;
  /* border: 2px solid #000000; */
  background-color: rgb(118, 245, 0);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div3{
  position: absolute;
  top: 50px;
  left: 640px;
  width: 290px;
  height: 150px;
  /* border: 2px solid #000000; */
  background-color: rgb(0, 255, 200);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div4{
  position: absolute;
  top: 50px;
  left: 950px;
  width: 290px;
  height: 150px;
  /* border: 2px solid #000000; */
  background-color: rgb(255, 0, 85);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div5{
  position: absolute;
  top: 225px;
  left: 20px;
  width: 300px;
  height: 150px;
  /* border: 2px solid #000000; */
  background-color: rgb(0, 255, 200);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div6{
  position: absolute;
  top: 225px;
  left: 740px;
  width: 500px;
  height: 150px;
  /* border: 2px solid #000000; */
  background-color: rgb(118, 245, 0);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div7{
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 600px;
  height: 150px; */
  /* border: 2px solid #000000; */
  /* background-color: rgb(118, 245, 0);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.div8{
  position: absolute;
  top: 0px;
  left: 630px;
  /* width: 600px;
  height: 150px; */
  /* border: 2px solid #000000; */
  /* background-color: rgb(118, 245, 0);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.div9{
  position: absolute;
  top: 225px;
  left: 340px;
  width: 380px;
  height: 150px;
  /* border: 2px solid #000000; */
  background-color: rgb(0, 162, 255);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}