.search-input {
  border: none;
  outline: none;
  font-family: "Fira Sans", sans-serif;
}
@font-face{
  font-family: AaFuWaTi;
  font-family: Kh Muol;
   src:url(AaFuWaTi-2.ttf);
   src:url(Kh-Muol.ttf);
}
.font1{
  font-family: AaFuWaTi;
  font-size: 50px;
  color: #ffffff;
}

.font2{
  font-family: Kh Muol;
  font-size: 20px;
  color: #ffffff;
}
.body1{
  background-color: rgb(0, 0, 0); 
}
.titel1{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1260px;
  height: 110px;
  /* border: 2px solid #000000; */
  background-color: rgb(0, 0, 0);    
}
.IP1{
  position: absolute;
  top: 0px;
  left: 0;
  width: 1261px;
  height: 100%;
  /* border: 2px solid #000000; */
  /* background-color: rgb(250, 1, 1); */
}
.IP3{
  position: absolute;
  top: 105px;
  left: 0;
  width: 100%;
  height: 63px;
  /* border: 2px solid #000000; */
  background-color: rgb(251, 255, 9);
}
.IP4{
  position: absolute;
  top: 170px;
  left: 0px;
  width: 1263px;
  height: 100%;
  border: 2px solid #000000;
  background-color: rgb(255, 255, 255);
}
.button1 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 51px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button4 {
  background-color: #aa0404;
  border: none;
  border: none;
  color: white;
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button6 {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* Add_Name.css */
.add1{
  position: absolute;
  top: 107px;
  left: 0px;
  width: 1259px;
  height: 583px;
  border: 2px solid #000000;
  /* background-color: rgb(255, 255, 255); */
}
.table1{
  background-color: rgb(255, 255, 255);
}

div.scroll {
  background-color: rgb(255, 255, 255);
  height: 580px;
  width: 1250px;
  overflow-y: scroll;
}